<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.vittach.teleghost">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.vittach.teleghost.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:allowBackup">

        <service
            android:name=".services.AutoTouchService"
            android:exported="false"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/config"/>
        </service>

        <service
            android:name=".services.HelpService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".services.TeleGhostService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.vittach.teleghost.TeleGhostService.INTENT_RECORD"/>
                <action android:name="com.vittach.teleghost.TeleGhostService.INTENT_AVATAR"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.vittach.teleghost.services.TeleGhostService$BootBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.vittach.teleghost.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chatex"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>